In [4]:
import pandas as pd

In [78]:
scrape = pd.read_csv("SanFrancisco_jobs.csv")
scrape = scrape.append(pd.read_csv("Boston_jobs.csv"))
scrape = scrape.append(pd.read_csv("NewYork_jobs.csv"))
scrape = scrape.append(pd.read_csv("Austin_jobs.csv"))
scrape = scrape.append(pd.read_csv("Philadelphia_jobs.csv"))
scrape = scrape.append(pd.read_csv("Atlanta_jobs.csv"))
scrape = scrape.append(pd.read_csv("Seattle_jobs.csv"))

In [79]:
scrape["6.25figs"] = 0
scrape.loc[(scrape["salary"] > 125000, "6.25figs")] = 1
scrape

,Unnamed: 0,index,title,company,location,salary,summary,postdate,og_salary_period,6figs,in_city,6.25figs
0,0,ID2,Data Scientist,Parallel HR,San Mateo,200000,"MS/ PhD in fields like computer science, mathe...",Today,year,1,0,1
1,1,ID4,Application Security Engineer,Blue Owl,San Francisco,215000,Data Loss/Leakage Prevention. You can help us ...,Today,year,1,1,1
2,2,ID14,Data Science Analyst,Harnham US,San Francisco,107500,DATA SCIENCE ANALYST- CRM PLATFORM. They are l...,Sponsored by Harnham,year,1,1,0
3,3,ID19,Senior Software Engineer,Domino Data Lab,San Francisco,135000,Best-of-breed data science tools and platforms...,1 day ago,year,1,1,1
4,4,ID23,Software Engineer III,Walmart eCommerce,San Bruno,129000,Strong computer science fundamentals in algori...,1 day ago,year,1,0,1
5,5,ID24,Software Engineer III,Walmart,San Bruno,129000,Strong computer science fundamentals in algori...,1 day ago,year,1,0,1
6,6,ID28,"Senior Software Engineer, Analysis Platform",Quid,San Francisco,160500,Solid computer science foundation; Good unders...,1 day ago,year,1,1,1
7,7,ID40,Customer Success Specialist,Tesorio,Burlingame,43680,We plug into a companyâ€™s data sources about ca...,2 days ago,hour,0,0,0
8,8,ID41,Senior Data Science Engineer,Harnham US,San Francisco,170000,Senior Data Science Engineer. Understanding of...,Harnham,year,1,1,1
9,9,ID60,Embedded DSP Engineer - Audio and Acoustics Si...,EmbodyVR,San Mateo,100000,Collaborate with the EmbodyVR Data Science tea...,2 days ago,year,0,0,0
10,10,ID61,Art Director and Social Media Campaign Lead,EmbodyVR,San Mateo,90000,We are developing technologies at the intersec...,2 days ago,year,0,0,0
11,11,ID75,Account Manager,"KnowSun Data, LLC",San Francisco,72500,KnowSun Data Consulting is a NYC/DC and MI bas...,3 days ago,year,0,1,0
12,12,ID92,Lead DevOps Engineer,EmbodyVR,San Mateo,110000,We are developing technologies at the intersec...,4 days ago,year,1,0,0
13,13,ID95,Python/Django Engineer,Workbridge Associates,Redwood City,43420,Experience with Python's Data Science stack - ...,4 days ago,day,0,0,0
14,14,ID102,"Software Engineer, Experimentation",Lyft,San Francisco,146500,Computer Science fundamentals in object-orient...,4 days ago,year,1,1,1
15,15,ID103,Data Science Manager,Aki Technologies,San Francisco,157500,4+ years in Data Science roles with 1+ years o...,5 days ago,year,1,1,1
16,16,ID104,Data Scientist - Merch Scenarios,Stitch Fix,San Francisco,142500,"This is a true ""full-stack data science"" role ...",5 days ago,year,1,1,1
17,17,ID105,Data Scientist - Fit Role,Stitch Fix,San Francisco,135000,You have a degree in Computer Science or relat...,5 days ago,year,1,1,1
18,18,ID107,Data Scientist,University of California San Francisco Medical...,San Francisco,147500,"Prior experience with healthcare data, in part...",5 days ago,year,1,1,1
19,19,ID110,Data Analyst,Tech Firefly,Belmont,135000,Must have Data Science experience. 5-10 years ...,5 days ago,year,1,0,1
20,20,ID111,Data Science Manager,Grand Rounds,San Francisco,152000,5+ years of industry experience in data scienc...,Sponsored,year,1,1,1
21,21,ID118,Senior Software Engineer,Twitch,San Francisco,143000,You will work closely with the engineers on yo...,5 days ago,year,1,1,1
22,22,ID123,Sr. Finance Analytics Analyst,JBCConnect,San Francisco,111000,Be able to build data mart/aggregates from dat...,5 days ago,year,1,1,0
23,23,ID134,Data Scientist,FlowCommand Inc.,San Francisco Bay Area,110000,Experience building models with limited traini...,Sponsored,year,1,1,0
24,24,ID159,"Manager, Data Governance",City & County of San Francisco,San Francisco,113034,"Preferably in computer science, data science, ...",11 days ago,year,1,1,0
25,25,ID162,Data Science Analyst,Harnham US,San Francisco,107500,This start up SaaS company offers an email and...,Sponsored by Harnham,year,1,1,0
26,26,ID174,Security Analyst,Blue Owl,San Francisco,215000,You will work with a team of accomplished secu...,10 days ago,year,1,1,1
27,27,ID228,Office Manager - Mandarin Bilingual,ToLocal Inc,San Francisco Bay Area,50000,"We dedicated to helping brands build digital, ...",10 days ago,year,0,1,0
28,28,ID231,Senior Business Analyst - Insurance,Blue Owl,San Francisco,110000,"We are starting with auto insurance, using dat...",9 days ago,year,1,1,0
29,29,ID263,"Big Data Engineer (Java, Scala, Spark, Azure)",Jobspring Partners,San Francisco,145600,20% Data Engineering. This team is responsible...,12 days ago,hour,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
4,4,ID56,DevOps Engineer,Jvion,Atlanta,80000,"Some experience of data science (spark, r, pyt...",10 days ago,year,0,0,0
5,5,ID57,Sr. Data Engineer - 100% Remote!!,OPS,Atlanta,130000,Experience in data processing operations (ETL ...,9 days ago,year,1,0,1
6,6,ID71,"Senior Data Engineer - (Python/Scala, Spark, A...",Optomi LLC,Duluth,118560,Experience in data processing operations (ETL/...,11 days ago,hour,1,0,0
7,7,ID94,Jr. Data Scientist - Machine Learning,Elev8 Hire Solutions,Atlanta,77500,Providing input into future data science strat...,25 days ago,year,0,0,0
8,8,ID261,Inside Sales Representative (Atlanta),Red Ventures,Atlanta,45000,"Through bespoke technology, integrated digital...",30+ days ago,year,0,0,0
9,9,ID276,Data Science Tech Liaison,Emory University,Atlanta,89100,Experience working in higher education and wit...,30+ days ago,year,0,0,0
10,10,ID280,Full Stack Developer for Cloud AI Platform,"DecisionIQ, Inc.",Atlanta,105000,The platform technology is based on Georgia Te...,30+ days ago,year,1,0,0
11,11,ID282,AWS DevOps Engineer for IoT/AI Platform,"DecisionIQ, Inc.",Atlanta,105000,We are looking for a DevOps engineer/developer...,30+ days ago,year,1,0,0
12,12,ID959,"Associate Software Engineer, Platform Engineering","Revenue Analytics, Inc.",Atlanta,116000,"Demonstrated interest in data science, ETL/ELT...",30+ days ago,year,1,0,0
13,13,ID961,Data Science Instructor,General Assembly,Atlanta,144000,Our Data Science Immersive course empowers stu...,30+ days ago,year,1,0,1
14,14,ID962,Senior Project Manager,Y Media Labs,Atlanta,108000,Ability to function effectively and communicat...,30+ days ago,year,1,0,0
15,15,ID965,Assistant Professor -RT - Streaming Clinical I...,Emory University,Atlanta,81000,"A demonstrated ability to teach data science, ...",30+ days ago,year,0,0,0
0,0,ID18,Data Architect,King County,Seattle,137570,"Analyze existing source data systems, and anal...",2 days ago,year,1,1,1
1,1,ID37,"Senior Data Scientist, Product Design & Modeli...",Liberty Mutual,Seattle,134750,May supervise data science and other technical...,2 days ago,year,1,1,1
2,2,ID102,018 Data / ETL Engineer II,Dataspace,Seattle,107500,"Our client, a leading health insurer serving 2...",9 days ago,year,1,1,0
3,3,ID110,017 Systems Administrator III,Dataspace,Seattle,115000,"Our client, a leading health insurer serving 2...",10 days ago,year,1,1,0
4,4,ID111,Senior Computational Linguist,R2 Global AI,Seattle,200000,The 1 year old data science team is currently ...,11 days ago,year,1,1,1
5,5,ID139,016 DevOps Engineer - Mid Level,Dataspace,Seattle,100000,"A bachelorâ€™s degree in Computer Science, Infor...",10 days ago,year,0,1,0
6,6,ID170,Backend Developer with AWS,Tech Firefly,Seattle,124800,Data Science coding with languages such as Pyt...,9 days ago,year,1,1,0
7,7,ID177,Data Scientist / Statistician,Kids on 45th,Seattle,110000,2+ years of work experience in data science an...,15 days ago,year,1,1,0
8,8,ID251,Digital Marketing Manager,Kitsap Credit Union,Bremerton,84646,"Bachelorsâ€™ degree in data science, information...",20 days ago,year,0,0,0
9,9,ID335,Machine Learning/Data Scientist,Gradient.io,Seattle,210000,"Build and optimize models using Data Science, ...",30+ days ago,year,1,1,1
10,10,ID464,"Senior Bioinformatician, Data Sciences","PreCyte, Inc.",Seattle,90000,Develop and apply data science approaches bein...,30+ days ago,year,0,1,0
11,11,ID953,Solutions Architect - CSP,NVIDIA,Redmond,146000,In-depth software development or data science ...,30+ days ago,year,1,0,1
12,12,ID954,Senior Software Engineer - Big Data,Motorola Solutions,Seattle,141500,Design and code data pipeline features and dat...,30+ days ago,year,1,1,1
13,13,ID955,Lead Software Development Engineer,Xevo,Bellevue,139000,"Utilizing data science, machine learning, arti...",30+ days ago,year,1,0,1
14,14,ID982,Solutions Architect - CSP,NVIDIA,Redmond,146000,"Technical expert on all NVIDIA products, direc...",30+ days ago,year,1,0,1
15,15,ID983,Senior Software Engineer - Big Data,Motorola Solutions,Seattle,141500,This team is part of the Software Enterprise d...,30+ days ago,year,1,1,1
16,16,ID984,Lead Software Development Engineer,Xevo,Bellevue,139000,"* Partner cross-functionally across Marketing,...",30+ days ago,year,1,0,1
17,17,ID1680,"Senior Data Scientist, Pricing Sophistication ...",Liberty Mutual,Seattle,119500,May supervise data science and other technical...,Sponsored,year,1,1,0

In [80]:
#splitting out our predictor variables from the salary data
sal_X = scrape.iloc[:, [2, 3, 4, 6, 8, 10]]
#sal_y will be above_6figs, creating as a dataframe
sal_y = pd.DataFrame(scrape["6.25figs"])
sal_X

,title,company,location,summary,og_salary_period,in_city
0,Data Scientist,Parallel HR,San Mateo,"MS/ PhD in fields like computer science, mathe...",year,0
1,Application Security Engineer,Blue Owl,San Francisco,Data Loss/Leakage Prevention. You can help us ...,year,1
2,Data Science Analyst,Harnham US,San Francisco,DATA SCIENCE ANALYST- CRM PLATFORM. They are l...,year,1
3,Senior Software Engineer,Domino Data Lab,San Francisco,Best-of-breed data science tools and platforms...,year,1
4,Software Engineer III,Walmart eCommerce,San Bruno,Strong computer science fundamentals in algori...,year,0
5,Software Engineer III,Walmart,San Bruno,Strong computer science fundamentals in algori...,year,0
6,"Senior Software Engineer, Analysis Platform",Quid,San Francisco,Solid computer science foundation; Good unders...,year,1
7,Customer Success Specialist,Tesorio,Burlingame,We plug into a companyâ€™s data sources about ca...,hour,0
8,Senior Data Science Engineer,Harnham US,San Francisco,Senior Data Science Engineer. Understanding of...,year,1
9,Embedded DSP Engineer - Audio and Acoustics Si...,EmbodyVR,San Mateo,Collaborate with the EmbodyVR Data Science tea...,year,0
10,Art Director and Social Media Campaign Lead,EmbodyVR,San Mateo,We are developing technologies at the intersec...,year,0
11,Account Manager,"KnowSun Data, LLC",San Francisco,KnowSun Data Consulting is a NYC/DC and MI bas...,year,1
12,Lead DevOps Engineer,EmbodyVR,San Mateo,We are developing technologies at the intersec...,year,0
13,Python/Django Engineer,Workbridge Associates,Redwood City,Experience with Python's Data Science stack - ...,day,0
14,"Software Engineer, Experimentation",Lyft,San Francisco,Computer Science fundamentals in object-orient...,year,1
15,Data Science Manager,Aki Technologies,San Francisco,4+ years in Data Science roles with 1+ years o...,year,1
16,Data Scientist - Merch Scenarios,Stitch Fix,San Francisco,"This is a true ""full-stack data science"" role ...",year,1
17,Data Scientist - Fit Role,Stitch Fix,San Francisco,You have a degree in Computer Science or relat...,year,1
18,Data Scientist,University of California San Francisco Medical...,San Francisco,"Prior experience with healthcare data, in part...",year,1
19,Data Analyst,Tech Firefly,Belmont,Must have Data Science experience. 5-10 years ...,year,0
20,Data Science Manager,Grand Rounds,San Francisco,5+ years of industry experience in data scienc...,year,1
21,Senior Software Engineer,Twitch,San Francisco,You will work closely with the engineers on yo...,year,1
22,Sr. Finance Analytics Analyst,JBCConnect,San Francisco,Be able to build data mart/aggregates from dat...,year,1
23,Data Scientist,FlowCommand Inc.,San Francisco Bay Area,Experience building models with limited traini...,year,1
24,"Manager, Data Governance",City & County of San Francisco,San Francisco,"Preferably in computer science, data science, ...",year,1
25,Data Science Analyst,Harnham US,San Francisco,This start up SaaS company offers an email and...,year,1
26,Security Analyst,Blue Owl,San Francisco,You will work with a team of accomplished secu...,year,1
27,Office Manager - Mandarin Bilingual,ToLocal Inc,San Francisco Bay Area,"We dedicated to helping brands build digital, ...",year,1
28,Senior Business Analyst - Insurance,Blue Owl,San Francisco,"We are starting with auto insurance, using dat...",year,1
29,"Big Data Engineer (Java, Scala, Spark, Azure)",Jobspring Partners,San Francisco,20% Data Engineering. This team is responsible...,hour,1
...,...,...,...,...,...,...
4,DevOps Engineer,Jvion,Atlanta,"Some experience of data science (spark, r, pyt...",year,0
5,Sr. Data Engineer - 100% Remote!!,OPS,Atlanta,Experience in data processing operations (ETL ...,year,0
6,"Senior Data Engineer - (Python/Scala, Spark, A...",Optomi LLC,Duluth,Experience in data processing operations (ETL/...,hour,0
7,Jr. Data Scientist - Machine Learning,Elev8 Hire Solutions,Atlanta,Providing input into future data science strat...,year,0
8,Inside Sales Representative (Atlanta),Red Ventures,Atlanta,"Through bespoke technology, integrated digital...",year,0
9,Data Science Tech Liaison,Emory University,Atlanta,Experience working in higher education and wit...,year,0
10,Full Stack Developer for Cloud AI Platform,"DecisionIQ, Inc.",Atlanta,The platform technology is based on Georgia Te...,year,0
11,AWS DevOps Engineer for IoT/AI Platform,"DecisionIQ, Inc.",Atlanta,We are looking for a DevOps engineer/developer...,year,0
12,"Associate Software Engineer, Platform Engineering","Revenue Analytics, Inc.",Atlanta,"Demonstrated interest in data science, ETL/ELT...",year,0
13,Data Science Instructor,General Assembly,Atlanta,Our Data Science Immersive course empowers stu...,year,0
14,Senior Project Manager,Y Media Labs,Atlanta,Ability to function effectively and communicat...,year,0
15,Assistant Professor -RT - Streaming Clinical I...,Emory University,Atlanta,"A demonstrated ability to teach data science, ...",year,0
0,Data Architect,King County,Seattle,"Analyze existing source data systems, and anal...",year,1
1,"Senior Data Scientist, Product Design & Modeli...",Liberty Mutual,Seattle,May supervise data science and other technical...,year,1
2,018 Data / ETL Engineer II,Dataspace,Seattle,"Our client, a leading health insurer serving 2...",year,1
3,017 Systems Administrator III,Dataspace,Seattle,"Our client, a leading health insurer serving 2...",year,1
4,Senior Computational Linguist,R2 Global AI,Seattle,The 1 year old data science team is currently ...,year,1
5,016 DevOps Engineer - Mid Level,Dataspace,Seattle,"A bachelorâ€™s degree in Computer Science, Infor...",year,1
6,Backend Developer with AWS,Tech Firefly,Seattle,Data Science coding with languages such as Pyt...,year,1
7,Data Scientist / Statistician,Kids on 45th,Seattle,2+ years of work experience in data science an...,year,1
8,Digital Marketing Manager,Kitsap Credit Union,Bremerton,"Bachelorsâ€™ degree in data science, information...",year,0
9,Machine Learning/Data Scientist,Gradient.io,Seattle,"Build and optimize models using Data Science, ...",year,1
10,"Senior Bioinformatician, Data Sciences","PreCyte, Inc.",Seattle,Develop and apply data science approaches bein...,year,1
11,Solutions Architect - CSP,NVIDIA,Redmond,In-depth software development or data science ...,year,0
12,Senior Software Engineer - Big Data,Motorola Solutions,Seattle,Design and code data pipeline features and dat...,year,1
13,Lead Software Development Engineer,Xevo,Bellevue,"Utilizing data science, machine learning, arti...",year,0
14,Solutions Architect - CSP,NVIDIA,Redmond,"Technical expert on all NVIDIA products, direc...",year,0
15,Senior Software Engineer - Big Data,Motorola Solutions,Seattle,This team is part of the Software Enterprise d...,year,1
16,Lead Software Development Engineer,Xevo,Bellevue,"* Partner cross-functionally across Marketing,...",year,0
17,"Senior Data Scientist, Pricing Sophistication ...",Liberty Mutual,Seattle,May supervise data science and other technical...,year,1

In [81]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(sal_X, sal_y, test_size=0.2, stratify=sal_y, random_state=74)
X_train.reset_index(drop=True, inplace=True)
X_test.reset_index(drop=True, inplace=True)
y_train.reset_index(drop=True, inplace=True)
y_test.reset_index(drop=True, inplace=True)

In [82]:
#initializing count vectorizer to examine text-based data for logistic regression. 
from sklearn.feature_extraction.text import CountVectorizer
cvec = CountVectorizer(stop_words='english',ngram_range=(1, 3), min_df = .05)

In [83]:
#fitting count vectorizer to job title
cvec.fit(X_train["summary"])
#transforming job_title data into job_train
job_train = pd.DataFrame(cvec.transform(X_train["summary"]).todense(),
                       columns=cvec.get_feature_names())

In [84]:
word_observe = pd.concat([job_train, y_train], axis=1)
word_observe.head()

,analytics,big,big data,business,company,computer,computer science,data,data engineering,data science,...,software,solutions,team,teams,technology,using,work,working,years,6.25figs
0,0,0,0,0,1,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,1,0,1,...,1,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,2,1,1,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,1,1,1,1,0,1,...,0,0,0,0,0,0,0,0,0,1
4,0,1,0,0,0,0,0,2,0,1,...,0,1,0,0,0,0,0,0,0,1

In [87]:
#creating separate lists of the top appearing words so that these can be combined and compared to create ratios of appearances in above vs. below salaries
word_count_below = word_observe[word_observe["6.25figs"]==0].sum(axis=0)
word_count_above = word_observe[word_observe["6.25figs"]==1].sum(axis=0)
#creating as dataframe, using method ".T" to transpose columns with index.
word_count_compare = pd.DataFrame([word_count_below, word_count_above]).T
#creating a "ratio" column to determine frequency of words associated with above jobs vs. below jobs
word_count_compare["above_below_ratio"] = word_count_compare[1]/word_count_compare[0]
word_count_compare.above_below_ratio.sort_values(ascending=False)

6.25figs                  inf
teams                4.000000
product              2.000000
big                  1.750000
team                 1.750000
design               1.750000
working              1.600000
work                 1.571429
big data             1.500000
engineering          1.444444
machine              1.375000
engineer             1.333333
learning             1.272727
machine learning     1.250000
years                1.142857
data science team    1.142857
data science         1.131579
data                 1.129032
science team         1.125000
science              1.055556
management           1.000000
solutions            1.000000
role                 1.000000
data engineering     1.000000
computer             0.916667
experience           0.904762
computer science     0.900000
analytics            0.875000
experience data      0.833333
software             0.777778
company              0.750000
including            0.666667
products             0.666667
research             0.625000
using                0.500000
development          0.454545
business             0.444444
platform             0.111111
technology           0.071429
Name: above_below_ratio, dtype: float64